<a href="https://colab.research.google.com/github/PrathyushaMyla2005/google-colab/blob/main/Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
import pandas as pd
import numpy as np

# Creating dataset with missing values
data = {
    "Name": ["Ram", "Sita", "Ravi", "Anu"],
    "Age": [20, np.nan, 19, 22],        # Missing value in Age
    "Math": [85, 88, np.nan, 95],       # Missing value in Math
    "Grade": ['B',np.nan, np.nan,'ex']     # Missing value in Science
}

df = pd.DataFrame(data)

print(df)

   Name   Age  Math Grade
0   Ram  20.0  85.0     B
1  Sita   NaN  88.0   NaN
2  Ravi  19.0   NaN   NaN
3   Anu  22.0  95.0    ex

In [5]:
# Import SimpleImputer class from sklearn
# SimpleImputer is used to fill (impute) missing values in dataset
from sklearn.impute import SimpleImputer


# Create an object to fill missing values using MEAN strategy
# It will calculate the average of each column
# Then replace NaN values with that average
fill_mean = SimpleImputer(strategy='mean')


# Create an object to fill missing values using MEDIAN strategy
# It will calculate the middle value of each column
# Then replace NaN values with that median value
# This is better when data has outliers
fill_median = SimpleImputer(strategy='median')


# Create an object to fill missing values using MOST FREQUENT strategy (Mode)
# It will find the most repeated value in the column
# Then replace NaN values with that most common value
# Mostly used for categorical data
fill_mode = SimpleImputer(strategy='most_frequent')

In [8]:
# Learn (calculate) the mean values from selected columns
# df.iloc[:,1:3] means:
# ":"  → select all rows
# "1:3" → select columns from index 1 to 2 (3 is excluded)
# So it selects 2nd and 3rd columns of dataframe
# fit() calculates the mean of each selected column
# It does NOT change the dataframe yet
fill_mean.fit(df.iloc[:,1:3])
# transform() replaces missing values (NaN)
# with the calculated mean values
# We assign the transformed data back to the same columns
# So missing values in column 1 and 2 are replaced by mean
df.iloc[:,1:3] = fill_mean.transform(df.iloc[:,1:3])
# Print the updated dataframe
# Now missing values are filled
df

   Name        Age       Math Grade
0   Ram  20.000000  85.000000     B
1  Sita  20.333333  88.000000   NaN
2  Ravi  19.000000  89.333333   NaN
3   Anu  22.000000  95.000000    ex

In [13]:
# Learn (calculate) the most frequent value (mode)
# from column index 4

# df.iloc[:,3:4] means:
# ":"   → select all rows
# "3:5" → select only column at index 4
# (4is excluded)

# fit() finds the most repeated value in that column
fill_mode.fit(df.iloc[:,3:4])


# transform() replaces missing values (NaN)
# with the most frequent value

# We assign the filled values back to column index 4
df.iloc[:,3:4] = fill_mode.transform(df.iloc[:,3:4])
df

   Name        Age       Math Grade
0   Ram  20.000000  85.000000     B
1  Sita  20.333333  88.000000     B
2  Ravi  19.000000  89.333333     B
3   Anu  22.000000  95.000000    ex