<a href="https://colab.research.google.com/github/PrathyushaMyla2005/google-colab/blob/main/travel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  !pip install numpy pandas matplotlib seaborn scikit-learn statsmodels openpyxl xlrd plotly scipy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.12/dist-packages (0.14.5)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: xlrd in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.12/dist-packages (5.24.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (1.16.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels) (1.0.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from plotly) (8.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
# Importing important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

# To ignore unnecessary warnings
warnings.filterwarnings('ignore')

# To display matplotlib plots inside Jupyter Notebook
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/Travel.csv')
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

Data Cleaning
Handling Missing Vlues
handling duplicates
check data type
understand the dataset

In [ ]:
#data  cleaning
#handling missing  values
# Check missing values in each column
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [ ]:
#check all the categories
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [ ]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [ ]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Step 1: Load dataset
df = pd.read_csv("/content/Travel.csv")

# Step 2: Print original column names
print("Original Columns:", df.columns.tolist())

# Step 3: Clean column names (remove spaces + make lowercase)
df.columns = df.columns.str.strip().str.lower()
print("Cleaned Columns:", df.columns.tolist())

# Step 4: Replace values
if 'gender' in df.columns:
    df['gender'] = df['gender'].replace('Fe Male', 'Female')

if 'maritalstatus' in df.columns:
    df['maritalstatus'] = df['maritalstatus'].replace('Single', 'Unmarried')

# Step 5: Show first 5 rows
print("\nUpdated DataFrame:")
print(df.head())

Original Columns: ['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting', 'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar', 'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome']
Cleaned Columns: ['customerid', 'prodtaken', 'age', 'typeofcontact', 'citytier', 'durationofpitch', 'occupation', 'gender', 'numberofpersonvisiting', 'numberoffollowups', 'productpitched', 'preferredpropertystar', 'maritalstatus', 'numberoftrips', 'passport', 'pitchsatisfactionscore', 'owncar', 'numberofchildrenvisiting', 'designation', 'monthlyincome']

Updated DataFrame:
   customerid  prodtaken   age    typeofcontact  citytier  durationofpitch  \
0      200000          1  41.0     Self Enquiry         3              6.0
1      200001          0  49.0  Company Invited         1             14.0
2      200002          1  37.0     Self Enquiry         1              8.0
3      200003          0  33.0  Company Invited         1              9.0
4      200004          0   NaN     Self Enquiry         1              8.0

       occupation  gender  numberofpersonvisiting  numberoffollowups  \
0        Salaried  Female                       3                3.0
1        Salaried    Male                       3                4.0
2     Free Lancer    Male                       3                4.0
3        Salaried  Female                       2                3.0
4  Small Business    Male                       2                3.0

  productpitched  preferredpropertystar maritalstatus  numberoftrips  \
0         Deluxe                    3.0     Unmarried            1.0
1         Deluxe                    4.0      Divorced            2.0
2          Basic                    3.0     Unmarried            7.0
3          Basic                    3.0      Divorced            2.0
4          Basic                    4.0      Divorced            1.0

   passport  pitchsatisfactionscore  owncar  numberofchildrenvisiting  \
0         1                       2       1                       0.0
1         0                       3       1                       2.0
2         1                       3       0                       0.0
3         1                       5       1                       1.0
4         0                       5       1                       0.0

  designation  monthlyincome
0     Manager        20993.0
1     Manager        20130.0
2   Executive        17090.0
3   Executive        17909.0
4   Executive        18468.0

In [ ]:
df.head()

,customerid,prodtaken,age,typeofcontact,citytier,durationofpitch,occupation,gender,numberofpersonvisiting,numberoffollowups,productpitched,preferredpropertystar,maritalstatus,numberoftrips,passport,pitchsatisfactionscore,owncar,numberofchildrenvisiting,designation,monthlyincome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [ ]:
# Find features (columns) with missing values
import numpy as np

features_with_na = [feature for feature in df.columns if df[feature].isnull().sum() >= 1]

# Print missing value percentage for each
for feature in features_with_na:
    print(feature,np.round(df[feature].isnull().mean()*100,5),'% missing values')

age 4.62357 % missing values
typeofcontact 0.51146 % missing values
durationofpitch 5.13502 % missing values
numberoffollowups 0.92062 % missing values
preferredpropertystar 0.53191 % missing values
numberoftrips 2.86416 % missing values
numberofchildrenvisiting 1.35025 % missing values
monthlyincome 4.76678 % missing values

In [ ]:
#statistics on numerical columns (nullcols)
df[features_with_na].select_dtypes(exclude='object').describe()

,age,durationofpitch,numberoffollowups,preferredpropertystar,numberoftrips,numberofchildrenvisiting,monthlyincome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

INput null values
input meadsin value for age column
input

In [ ]:
# Use dictionary-style indexing [] instead of dot notation
df['age'].fillna(df['age'].median(), inplace=True)
df['typeofcontact'].fillna(df['typeofcontact'].mode()[0], inplace=True)
df['durationofpitch'].fillna(df['durationofpitch'].median(), inplace=True)
df['numberoffollowups'].fillna(df['numberoffollowups'].median(), inplace=True)
df['preferredpropertystar'].fillna(df['preferredpropertystar'].median(), inplace=True)
df['numberoftrips'].fillna(df['numberoftrips'].median(), inplace=True)
df['numberofchildrenvisiting'].fillna(df['numberofchildrenvisiting'].median(), inplace=True)
df['monthlyincome'].fillna(df.monthlyincome.median(),inplace=True)
df['totalspending'].fillna(df.totalspending.median(),inplace=True)

/tmp/ipython-input-2495876218.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)
/tmp/ipython-input-2495876218.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['durationofpitch'].fillna(df['durationofpitch'].median(), inplace=True)
/tmp/ipython-input-2495876218.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['numberoffollowups'].fillna(df['numberoffollowups'].median(), inplace=True)
/tmp/ipython-input-2495876218.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['preferredpropertystar'].fillna(df['preferredpropertystar'].median(), inplace=True)
/tmp/ipython-input-2495876218.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['numberoftrips'].fillna(df['numberoftrips'].median(), inplace=True)
/tmp/ipython-input-2495876218.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['numberofchildrenvisiting'].fillna(df['numberofchildrenvisiting'].median(), inplace=True)
/tmp/ipython-input-2495876218.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['monthlyincome'].fillna(df.monthlyincome.median(),inplace=True)

KeyError: 'totalspending'

In [ ]:
df.head()
df.isnull().sum()

customerid                  0
prodtaken                   0
age                         0
typeofcontact               0
citytier                    0
durationofpitch             0
occupation                  0
gender                      0
numberofpersonvisiting      0
numberoffollowups           0
productpitched              0
preferredpropertystar       0
maritalstatus               0
numberoftrips               0
passport                    0
pitchsatisfactionscore      0
owncar                      0
numberofchildrenvisiting    0
designation                 0
monthlyincome               0
dtype: int64

In [ ]:
df.drop('CustomerId',inplace=True,axis=1)

KeyError: "['CustomerId'] not found in axis"

In [ ]:
df['totalvisiting'] = df['numberofpersonvisiting'] + df['numberofchildrenvisiting']
df.drop(columns=['numberofpersonvisiting','numberofchildrenvisiting'], inplace=True)

In [ ]:
import pandas as pd

num_features = [feature for feature in df.columns if pd.api.types.is_numeric_dtype(df[feature])]
print("Numeric Features:", num_features)

Numeric Features: ['customerid', 'prodtaken', 'age', 'citytier', 'durationofpitch', 'numberoffollowups', 'preferredpropertystar', 'numberoftrips', 'passport', 'pitchsatisfactionscore', 'owncar', 'monthlyincome', 'totalvisiting']

In [ ]:
#categorical features
cat_features = [feature for feature in df.columns if feature not in num_features]
print("Categorical Features:", len(cat_features))

Categorical Features: 6

In [ ]:
#discrete  features
discrete_features = [feature for feature in num_features if len(df[feature].unique()) < 25]
print("Discrete Features:", len(discrete_features))

Discrete Features: 9

In [ ]:
#continous feature
continous_features = [feature for feature in num_features if feature not in discrete_features]
print("Continous Features:", len(continous_features))

Continous Features: 4

In [ ]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns.tolist())

['customerid', 'prodtaken', 'age', 'typeofcontact', 'citytier', 'durationofpitch', 'occupation', 'gender', 'numberoffollowups', 'productpitched', 'preferredpropertystar', 'maritalstatus', 'numberoftrips', 'passport', 'pitchsatisfactionscore', 'owncar', 'designation', 'monthlyincome', 'totalvisiting']

In [ ]:
from sklearn.model_selection import train_test_split
x = df.drop(['prodtaken'], axis=1)
y = df['prodtaken']
y.value_counts()
x.head()

NameError: name 'df' is not defined

In [ ]:
#separate dataset into train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_train.shape, x_test.shape

((3910, 18), (978, 18))

In [ ]:
#create column transformer with 3 types of transformers
cat_features = x.select_dtypes(include='object').columns
num_features = x.select_dtypes(exclude='object').columns
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),
    ]
)

In [ ]:
x_train = preprocessor.fit_transform(x_train)
x_test = preprocessor.transform(x_test)

In [ ]:
#random forest classifier training
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
# 1. Imports
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, recall_score

# 2. Define models
models = {
    "Logistic Regression": LogisticRegression(random_state=42, max_iter=1000),
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Random Forest": RandomForestClassifier(random_state=42)
}

# 3. Train and evaluate each model
for name, model in models.items():
    model.fit(x_train, y_train)

    # Predictions
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    # Training performance
    train_accuracy = accuracy_score(y_train, y_train_pred)
    train_recall = recall_score(y_train, y_train_pred)

    # Testing performance
    test_accuracy = accuracy_score(y_test, y_test_pred)
    test_recall = recall_score(y_test, y_test_pred)

    print(f"\n=== {name} ===")
    print("Training Accuracy:", train_accuracy)
    print("Training Recall:", train_recall)
    print("Testing Accuracy:", test_accuracy)
    print("Testing Recall:", test_recall)
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_test_pred))
    print("Classification Report:\n", classification_report(y_test, y_test_pred))

NameError: name 'x_train' is not defined

In [ ]:
#hyperparameter training
rf_params = {"max_depth": [5, 8,15, None, 10],
             "max_features": [5, 7,"auto", 8],
             "min_samples_split": [2, 8, 15,20],
             "n_estimators": [100, 200,500,1000]}

In [ ]:
#MODELS LIST FOR hypermaeter tuning
randomcv_models = [
  ("RF",RandomForestClassifier(),rf_params)
]

In [ ]:
for name, model in models.items():
    # Train the model
    model.fit(x_train, y_train)

    # Predictions
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    # Evaluate
    train_accuracy = accuracy_score(y_train, y_train_pred)
    train_recall = recall_score(y_train, y_train_pred)

    test_accuracy = accuracy_score(y_test, y_test_pred)
    test_recall = recall_score(y_test, y_test_pred)

    print(f"\n=== {name} ===")
    print("Training Accuracy:", train_accuracy)
    print("Training Recall:", train_recall)
    print("Testing Accuracy:", test_accuracy)
    print("Testing Recall:", test_recall)
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_test_pred))
    print("Classification Report:\n", classification_report(y_test, y_test_pred))

NameError: name 'x_train' is not defined